@model Arkitektum.Orden.Models.Application

@{
    ViewData["Title"] = "Delete";
}

<h3>Er du sikker på at du vil fjerne @Html.DisplayFor(model => model.Name)</h3>
<div>
    <h4>Applikasjon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnualFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnnualFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitialCost) 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitialCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HostingLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HostingLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfUsers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfUsers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organization.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Slett oapplikasjon" class="btn btn-default" /> |
        <a asp-action="Index">Tilbake til liste</a>
    </form>
</div>
