@model Arkitektum.Orden.Models.ViewModels.ApplicationViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detaljer</h2>

<div>
    <h4>Applikasjon @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnnualFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnnualFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitialCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitialCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HostingLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HostingLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfUsers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfUsers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalComponents)
        </dt>
        <ul style="list-style-type: none">
            @for (var i = 0; i <Model.NationalComponents.Count; i++)
            {
                <li>
                    <label asp-for="@Model.NationalComponents[i].NationalComponentName">@Model.NationalComponents[i].NationalComponentName</label>
                </li>
            }
        </ul>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Rediger</a> |
    <a asp-action="Index">Tilbake til liste</a>
</div>
