@model Arkitektum.Orden.Models.ViewModels.ApplicationViewModel


@{
    ViewData["Title"] = "Edit";
}

<h2>Rediger applikasjon</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="OrganizationId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnualFee" class="control-label"></label>
                <input asp-for="AnnualFee" class="form-control" />
                <span asp-validation-for="AnnualFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialCost" class="control-label"></label>
                <input asp-for="InitialCost" class="form-control" />
                <span asp-validation-for="InitialCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostingLocation" class="control-label"></label>
                <input asp-for="HostingLocation" class="form-control" />
                <span asp-validation-for="HostingLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfUsers" class="control-label"></label>
                <input asp-for="NumberOfUsers" class="form-control" />
                <span asp-validation-for="NumberOfUsers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemOwner" class="control-label"></label>
                <select asp-for="SystemOwner" class="form-control" asp-items="Model.AvailableSystemOwners"></select>
                <span asp-validation-for="SystemOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendor" class="control-label"></label>
                <input asp-for="Vendor" class="form-control" />
                <span asp-validation-for="Vendor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sectors" class="control-label"></label>
                <ul style="list-style-type: none">
                    @for (var i = 0; i < Model.Sectors.Count; i++)
                    {
                        <li>
                            <input type="hidden" asp-for="@Model.Sectors[i].SectorId" />
                            <input type="hidden" asp-for="@Model.Sectors[i].SectorName" />
                            <input type="checkbox" asp-for="@Model.Sectors[i].Selected" />
                            <label asp-for="@Model.Sectors[i].SectorName">@Model.Sectors[i].SectorName</label>
                        </li>
                    }
                </ul>
            </div>
            
            <div class="form-group">
                <label asp-for="NationalComponents" class="control-label"></label>
                <ul style="list-style-type: none">
                    @for (var i = 0; i < Model.NationalComponents.Count; i++)
                    {
                        <li>
                            <input type="hidden" asp-for="@Model.NationalComponents[i].NationalComponentId" />
                            <input type="hidden" asp-for="@Model.NationalComponents[i].NationalComponentName" />
                            <input type="checkbox" asp-for="@Model.NationalComponents[i].Selected" />
                            <label asp-for="@Model.NationalComponents[i].NationalComponentName">@Model.NationalComponents[i].NationalComponentName</label>
                        </li>
                    }
                </ul>
            </div>

            <div class="form-group">
                <input type="submit" value="Lagre" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbake til liste</a>
</div>
