
@{
    ViewData["Title"] = "Index";
}
<div id="app-root">
    <applications>

    </applications>
</div>




@*<h2>Applikasjoner</h2>
<form asp-action="Index" method="get">
    <div class="form-group">
        <select name="SectorId" asp-items="@Model.Sectors" class="" onchange="this.form.submit()">
            <option selected="selected" value="">Velg tjenesteområde fra listen</option>
        </select>
    </div>
</form>
<p>
    <a asp-action="Create">Registrer en ny applikasjon</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @ModelsResource.Name
            </th>
            <th>
                @ModelsResource.Version
            </th>
            <th>
                @ModelsResource.Vendor
            </th>
            <th>
                @ModelsResource.AnnualFee
            </th>
            <th>
                @ModelsResource.SystemOwner
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Applications)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnnualFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SystemOwner)
                </td>
            </tr>
        }
    </tbody>
</table>*@
