@model Arkitektum.Orden.Models.Organization

@{
    ViewData["Title"] = "Slett organisasjon";
}

<h2>Slett organisasjon</h2>

<h3>Er du sikker på at du vil fjerne @Html.DisplayFor(model => model.Name)?</h3>
<div>
    <h4>Organisasjon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrganizationNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Slett organisasjon" class="btn btn-default" /> |
        <a asp-action="Index">Tilbake til liste</a>
    </form>
</div>
