@model Arkitektum.Orden.Models.Organization

@{
    ViewData["Title"] = Model.Name;
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Organisasjon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrganizationNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Rediger</a> |
    <a asp-action="Index">Tilbake til liste</a>
</div>
