@model Arkitektum.Orden.Models.ViewModels.SearchResultViewModel
@{
    ViewData["Title"] = "Søkeresultat";
}

<h2>@ViewData["Title"]</h2>

<p>Antall treff: @Model.NumberOfHits</p>

<table class="table">
    <thead>
    <tr>
        <th>@ModelsResource.Name</th>
        <th>@ModelsResource.Vendor</th>
        <th></th>
        <th>@ModelsResource.SystemOwner</th>
        <th>@ModelsResource.Sectors</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <a asp-controller="Applications" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td>@item.Vendor</td>
                <td> <span class="badge badge-info">Applikasjon</span></td>
                <td>@item.SystemOwner?.Name</td>
                <td>
                    @if (item.Sectors != null)
                    {
                        foreach (var sector in item.Sectors)
                        {
                            <text>@sector.Name</text>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
