@model Arkitektum.Orden.Models.NationalComponent

@{
    ViewData["Title"] = @UIResource.Edit;
}

<h2>@ViewData["Title"]</h2>

<h4>@ModelsResource.NationalComponent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@UIResource.ButtonSave" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@UIResource.LinkBackToList</a>
</div>