@model Sector

@{
    ViewData["Title"] = UIResource.Delete;
}

<h2>@ViewData["Title"]</h2>

<h3>@UIResource.HelpTextConfirmDeleteItem</h3>
<div>
    <h4>@ModelsResource.Sector</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@UIResource.Delete" class="btn btn-default" /> |
        <a asp-action="Index">@UIResource.LinkBackToList</a>
    </form>
</div>
