@model Sector

@{
    ViewData["Title"] = UIResource.Details;
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@ModelsResource.Sector</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@UIResource.Edit</a> |
    <a asp-action="Index">@UIResource.LinkBackToList</a>
</div>