@model IEnumerable<Sector>

@{
    ViewData["Title"] = UIResource.SectorHeaderIndex;
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">@UIResource.SectorCreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@UIResource.LinkEdit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@UIResource.LinkDetails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@UIResource.LinkDelete</a>
            </td>
        </tr>
}
    </tbody>
</table>
