@using Arkitektum.Orden.Models.ViewModels
@model IEnumerable<Arkitektum.Orden.Models.ViewModels.UserViewModel>
@{
    ViewData["Title"] = UIResource.UserHeaderList;
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">@UIResource.UserHeaderCreateNew</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organizations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FullName</td>
            <td>@user.Email</td>
            <td>
                @foreach (var org in user.Organizations)
                {
                    <text>@org.Name</text>
                }
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@user.Id">Slett</a>
            </td>
        </tr>
    }
    </tbody>
</table>

