@using Arkitektum.Orden.Services
@model Arkitektum.Orden.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "";
}
<div id="app-root"></div>
<div class="row">

    <div class="col-md-6">
        @if (Model.Sectors.Any())
        {
            <div class="section">
                <h2>@ModelsResource.Sectors</h2>
                @foreach (var sector in Model.Sectors)
                {
                    <a asp-action="Index" asp-controller="Applications" asp-route-sectorid="@sector.SectorId">@sector.Name</a>
                    <p>@sector.ApplicationCount applikasjoner</p>
                }
            </div>
        }
        
        @if (Model.MyApplications.Any())
        {
            <div class="section">
                <h2>Mine applikasjoner</h2>
                <ul>
                    @foreach (var app in Model.MyApplications)
                    {
                        <li>
                            <a asp-action="Details" asp-controller="Applications" asp-route-id="@app.Id">@app.Name</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
    <div class="col-md-6">
        <div class="section">
            <h2>Nøkkeltall</h2>
            <h4>
                <span class="badge badge-primary">@Model.NumberOfApplications</span>
                @if (Model.NumberOfApplications > 1)
                {
                    <text>@ModelsResource.Applications</text>
                }
                else
                {
                    <text>@ModelsResource.Application</text>
                }
            </h4>
            <h4><span class="badge badge-primary">@Model.NumberOfDataset</span> Datasett</h4>
            <h4><span class="badge badge-primary">@Model.NumberOfPublishedDataset</span> Publiserte datasett</h4>
        </div>
    </div>
</div>