@model IEnumerable<Arkitektum.Orden.Models.CommonApplication>

@{
    ViewData["Title"] = UIResource.AppRegistry;
}

<h2>@ViewData["Title"]</h2>

<ul class="list-group">
    @foreach(var item in Model)
    {
        <li class="list-group-item">
            <h3><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h3> <span class="badge badge-info">@item.Status</span>
            @if (item.SubmittedByUser != null)
            {
                <p>
                    Sendt inn av @item.SubmittedByUser.FullName
                    @if (item.SubmittedByOrganization != null)
                    {
                        <span> fra @item.SubmittedByOrganization.Name</span>
                    }
                    @if (item.SubmittedDateTime != null)
                    {
                        <span> - @item.SubmittedDateTime.Value</span>
                    }
                </p>
            }
        </li>
    }
</ul>
