@using Arkitektum.Orden.Controllers
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Orden i eget hus</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <environment include="Development">
        <link rel="stylesheet" href="~/dist/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar sticky-top navbar-toggleable-md navbar-inverse">
        <div class="navbar-left">
            <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Orden i eget hus</a>
        </div>
        <div class="navbar-center">
        <!--
        <div class="navbar-search-container">
            <form asp-action="Index" asp-controller="Search" method="Get" class="form-inline">
                <input type="text" name="query" placeholder="Søk"/>
            </form>
        </div>
        -->
        </div>
        <div class="navbar-right">
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>


    @if (SignInManager.IsSignedIn(User))
    {
        <div class="main-navigation navbar-collapse collapse">
            <div class="main-navigation-content container">
                <div class="main-navigation-item"><a asp-area="" asp-controller="Applications" asp-action="Index" class="nav-link"><i class="fas fa-desktop"></i> @ModelsResource.Applications</a></div>
                <div class="main-navigation-item"><a asp-area="" asp-controller="Datasets" asp-action="Index" class="nav-link"><i class="fas fa-database"></i> @ModelsResource.Datasets</a></div>
                <div class="main-navigation-item">
                    <div class="dropdown-box-toggle">
                    <span><i class="fas fa-chart-line"></i> Innsikt</span>
                    <div class="dropdown-box-container">
                        <div class="dropdown-box-content">
                            <ul class="navbar-dropdown-list">
                                <li class=""><a asp-controller="Insights" asp-action="DatasetPrivacy" class="nav-link">@UIResource.InsightsDatasetPrivacyHeader</a></li>
                                <li class=""><a asp-controller="Insights" asp-action="NationalComponentsUsage" class="nav-link">@UIResource.InsightsNationalComponentsUsageHeader</a></li>
                                <li class=""><a asp-controller="Insights" asp-action="ApplicationCosts" class="nav-link">@UIResource.InsightsApplicationCostsHeader</a></li>
                                <li class=""><a asp-controller="Insights" asp-action="DatasetsPublishedStatusOverview" class="nav-link">@UIResource.InsightDatasetOverview</a></li>
                            </ul>
                        </div>    
                    </div>
                    </div>
                </div>
                <div class="main-navigation-item">
                    <div class="dropdown-box-toggle">
                        <span><i class="fas fa-unlock"></i> Administrator</span>
                        <div class="dropdown-box-container">
                            <div class="dropdown-box-content">
                                <ul class="navbar-dropdown-list">
                                    <li class=""><a asp-area="" asp-controller="Sectors" asp-action="Index" class="nav-link">@ModelsResource.Sectors</a></li>
                                    <li class=""><a asp-area="" asp-controller="Users" asp-action="Index" class="nav-link">Brukere</a></li>
                                    @if (User.IsInRole(Roles.Admin))
                                    {
                                        <li class=""><a asp-area="" asp-controller="Organizations" asp-action="Index" class="nav-link">@ModelsResource.Organizations</a></li>
                                        <li class=""><a asp-area="" asp-controller="NationalComponents" asp-action="Index" class="nav-link">@ModelsResource.NationalComponents</a></li>
                                        <li class=""><a asp-area="" asp-controller="AppRegistry" asp-action="Index" class="nav-link">@UIResource.AppRegistry</a></li>
                                        <li class=""><a asp-area="" asp-controller="Standards" asp-action="Index" class="nav-link">@UIResource.Standards</a></li>
                                    }
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }



    <div class="container body-content">
        @Html.Partial("_FlashMessage")
        @RenderBody()
    </div>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>