@using Arkitektum.Orden.Controllers
@using Microsoft.AspNetCore.Identity
@using Arkitektum.Orden.Models
@using Arkitektum.Orden.Services

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ISecurityHelper SecurityHelper

<div class="navbar-account">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="navbar-account-menu-item dropdown-box-toggle">
            <div class="navbar-icon">
                <span class="fas fa-users fa-2x"></span>
            </div>
            <div class="dropdown-box-container">
                <div class="dropdown-box-content">

                    <form asp-controller="Account" asp-action="ChangeCurrentOrganization">
                        <div class="select-container">
                            <select name="organizationId" class="form-control">
                                @{
                                    var currentOrganization = SecurityHelper.GetCurrentOrganization();
                                }
                                @if (currentOrganization != null)
                                {
                                    <option value="@currentOrganization.Id" selected="selected">@currentOrganization.Name</option>

                                    foreach (var org in currentOrganization.AvailableOrganizations)
                                    {
                                        <option value="@org.Id">@org.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn navbar-btn navbar-link">Bytt organisasjon</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="navbar-account-menu-item dropdown-box-toggle">
            <div class="navbar-icon">
                <span class="fas fa-user fa-2x"></span>
            </div>
            <div class="dropdown-box-container">
                <div class="dropdown-box-content">
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>

                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                        <button type="submit" class="btn">Logg ut</button>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <a asp-area="" asp-controller="Account" asp-action="Login">Logg inn</a>
    }
</div>
