@using Arkitektum.Orden.Services

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ISecurityHelper SecurityHelper

<script>
    function changeOrganization(event) { // TODO: Move to separate script file
        document.getElementById('navbar-organization-input').value = event.target.dataset.organizationId;
        document.getElementById('navbar-organization-input').form.submit();
    }
</script>

<div class="navbar-account">
    @if (SignInManager.IsSignedIn(User))
    {
        var currentOrganization = SecurityHelper.GetCurrentOrganization();

        if (currentOrganization != null)
        {
            <div class="navbar-account-menu-item dropdown-box-toggle navbar-organization">
                <div class="navbar-icon">
                    <span class="fas fa-users fa-2x"></span>
                </div>
                <span class="navbar-text-toggle">@currentOrganization.Name</span>
                <div class="dropdown-box-container">
                    <div class="dropdown-box-content">
                        <form asp-controller="Account" asp-action="ChangeCurrentOrganization">
                            <input id="navbar-organization-input" type="hidden" name="organizationId" value="@currentOrganization.Id" />
                            <ul class="navbar-dropdown-list">
                                @foreach (var org in currentOrganization.AvailableOrganizations)
                                {
                                    <li onclick="changeOrganization(event)" data-organization-id="@org.Id">@org.Name</li>
                                }
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        }
        <div class="navbar-account-menu-item dropdown-box-toggle">
            <div class="navbar-icon">
                <span class="fas fa-user fa-2x"></span>
            </div>
            <div class="dropdown-box-container">
                <div class="dropdown-box-content">
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)</a>

                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                        <button type="submit" class="btn">Logg ut</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
