@using Arkitektum.Orden.Controllers
@using Microsoft.AspNetCore.Identity
@using Arkitektum.Orden.Models
@using Arkitektum.Orden.Services
@using Microsoft.AspNetCore.Http

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ISecurityHelper SecurityHelper

@if (SignInManager.IsSignedIn(User))
{
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hei @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                Din organisasjon:
                <form asp-controller="Account" asp-action="ChangeCurrentOrganization">
                    <div class="form-group">
                        <select name="organizationId" class="form-control">
                            @{
                                var currentOrganization = SecurityHelper.GetCurrentOrganization();                                
                            }
                            @if (currentOrganization != null)
                            {
                                <option value="@currentOrganization.Id" selected="selected">@currentOrganization.Name</option>
                                

                        foreach (var org in currentOrganization.AvailableOrganizations)
                        {
                            <option value="@org.Id">@org.Name</option>
                        }
                    }
                </select>
            </div>
            <button type="submit" class="btn navbar-btn navbar-link">Bytt organisasjon</button>
        </form>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <button type="submit">Logg ut</button>
        </form>
    }
    else
    {
        <a asp-area="" asp-controller="Account" asp-action="Login">Logg inn</a>
    }
</div>
