@model Arkitektum.Orden.Models.ViewModels.DatasetViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Rediger</h2>

<h4>Dataset @Html.DisplayFor(Model => Model.Name)</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <textarea asp-for="Purpose" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasPersonalData" /> @Html.DisplayNameFor(model => model.HasPersonalData)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasSensitivePersonalData" /> @Html.DisplayNameFor(model => model.HasSensitivePersonalData)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasMasterData" /> @Html.DisplayNameFor(model => model.HasMasterData)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="HostingLocation" class="control-label"></label>
                <select asp-for="HostingLocation" asp-items="Html.GetEnumSelectList<HostingLocation>()" class="form-control">
                    <option value=""></option>
                </select>
                <span asp-validation-for="HostingLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessRight" class="control-label"></label>
                <select asp-for="AccessRight" asp-items="Html.GetEnumSelectList<AccessRight>()" class="form-control">
                    <option value=""></option>
                </select>
                <span asp-validation-for="AccessRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@UIResource.ButtonSave" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@UIResource.LinkBackToList</a>
</div>