@model IEnumerable<Arkitektum.Orden.Models.ViewModels.DatasetViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Datasett</h2>

<p>
    <a asp-action="Create">Oprett ny dataset</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Purpose)
                </th>
            
                <th>
                    @Html.DisplayNameFor(model => model.HasPersonalData)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasSensitivePersonalData)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasMasterData)
                </th>
       
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.HasPersonalData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasSensitivePersonalData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasMasterData)
            </td>
      
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Rediger</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Slett</a>
            </td>
        </tr>
}
    </tbody>
</table>
