@model IEnumerable<Arkitektum.Orden.Models.ViewModels.DatasetViewModel>

@{
    ViewData["Title"] = ModelsResource.Datasets;
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Registrer nytt datasett</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasPersonalData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasSensitivePersonalData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasMasterData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applications)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasPersonalData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasSensitivePersonalData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasMasterData)
            </td>
            <td>
                <ul>
                @foreach (var app in item.Applications)
                {
                    <li>@app.Name</li>
                }
                </ul>
            </td>
        </tr>
    }
    </tbody>
</table>